<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file contains the logback configuration for this project in production mode.

  @version BerliozBase-0.8.1
-->
<configuration debug="false">

  <!-- PageSeeder -->
  <contextName>Berlioz</contextName>

  <!-- General Logs (text) -->
  <appender name="GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/berlioz.log</File>
    <Append>true</Append>
    <encoder>
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="org.weborganic.logback.PSRollingPolicy">
      <fileNamePattern>logs/berlioz-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

  <root level="INFO">
    <appender-ref ref="GENERAL"/>
  </root>

</configuration>
